.bg {
    background-image: url("../../assets/images/homebg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.custom-col {
    width: 25%;
    max-width: 25%;
}

.title{
    font-size: 4rem;
    color: #e8e8e8;
}