body, html {
    height: 100%;
    margin: 0;
  }
  
  .list-view-container {
    background-image: url('/images/ListBG.gif'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .pagination .page-info {
    margin: 0 10px;
  }
  
  .pagination-btn {
    background-color: #000000;
    font-size: 0.8rem;
    color: E2DAD6;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .pagination-btn:hover {
    background-color: #333;
  }

  .pagination-btn:active {
    background-color: #E2DAD6 !important; /* Make the button transparent */
    color: #7FA1C3 !important; /* Change text color */
  }

  .pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .document-table {
    font-size: 1.2rem; /* Increase the font size of the table */
  }
  
  .fixed-dimension-card {
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    overflow-y: auto;
  }
  
  .trash-icon {
    color: red;
    cursor: pointer;
  }
  
  .delete-column {
    width: 50px; /* Set a fixed width for the delete column */
    text-align: center; /* Center the content in the delete column */
  }
  
  .small-column {
    width: 140px; /* Set a fixed width for the language column */
    text-align: center; /* Center the content in the language column */
  }
  
  .truncate {
    max-width: 150px; /* Set a maximum width for truncation */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }