
.navComponentRow {
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navComponentRow:hover {
    background-color: var(--color-primary-500);
}

.navComponentText {
    font-weight: bold;
}