/* Ensure the html, body, and root elements take up full screen */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.double-button-container {
  position: absolute;
  border: 2px solid rgb(209, 206, 206); /* Shared border */
  background-color: white;
  padding: 0px 0px;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Clip corners for a seamless look */
  top: 8px;
  right: 50px;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  width: fit-content;
}

.double-button {
  display: flex;
  flex-grow: 1; /* Allow the buttons to take up equal space */
  background-color: white;
  color: white;
  padding: 3px;
  margin: 0%;
  width: 100%; /* Make the buttons fill the container width */
  border: none;
  cursor: pointer;
  outline: none;
}

.double-button:hover {
  background-color: rgb(209, 206, 206); /* Darker blue on hover */
}

.double-button img {
  width: 24px; /* Keep aspect ratio of the icon */
  height: 22.5px; /* Set icon height */
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.form-check-input:checked {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
}

.marker {
  border: 5px solid rgb(209, 206, 206);
  background-color: #f0f0f0;
  background-size: 100%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 45px;
  right: 20px;
}

.close-button-geo {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  display: flex;
  border-radius: 8px;
  background-color: var(--color-secondary-200);
  color: var(--color-error-500);
  border: 1px solid var(--color-error-600);
}

.document-panel-title {
  color: #000;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.left-sided-panel-title {
  color: #000;
  display: flex;
  justify-content: left;
  font-weight: bold;
  font-size: 30px;
}

.georeference-panel {
  z-index: 500;
  position: fixed;
  bottom: 45px;
  right: 20px;
  width: 500px;
  height: 50vh;
  background-color: var(--color-primary-200);
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.2s ease;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.georeference-panel > .header {
  flex: 0 0 auto; /* Fixed height */
  height: 60px; /* Adjust as needed */
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.georeference-panel > .content {
  flex: 1 1 auto; /* Takes up remaining space */
  overflow-y: auto; /* Enable vertical scrolling for content */
  padding: 15px;
  border-radius: 8px;
}

.georeference-panel > .footer {
  flex: 0 0 auto; /* Fixed height */
  height: 50px; /* Adjust as needed */
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  margin-bottom: 5px;
}

.clickable-row:hover {
  background-color: #6482AD;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.clickable-row:active {
  background-color: #e0f0ff;
  transform: scale(0.98);
}

.NavButtonPopup {
  display: flex; /* Usa il layout flessibile */
  flex-direction: column; /* Disposizione verticale */
  align-items: center; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  padding: 20px; /* Spaziatura interna */
  background-color: var(--color-secondary-100); /* Colore di sfondo */
  border-radius: 15px; /* Angoli arrotondati */
  cursor: pointer; /* Indica che è un bottone */
  transition: all 0.3s ease; /* Transizione per hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra */
  max-width: 100%; /* Impedisce che il contenuto esca */
  text-align: center; /* Centra il testo */
}

.NavButtonPopup img {
  width: 40px; /* Dimensione fissa per l'icona */
  height: 40px; /* Mantiene proporzioni */
  margin-bottom: 10px; /* Spaziatura tra icona e testo */
}

.NavButtonPopup > Row:last-child {
  font-size: 14px; /* Dimensione del testo */
  color: var(--color-primary-900); /* Colore del testo */
  font-weight: bold; /* Grassetto */
  text-align: center; /* Centra il testo */
  word-wrap: break-word; /* Consente il wrapping */
  word-break: break-word; /* Spezza parole lunghe */
  max-width: 100%; /* Limita la larghezza */
  overflow: hidden; /* Evita l'overflow */
}

.NavButtonPopup:hover {
  background-color: var(--color-secondary-200); /* Colore di sfondo al passaggio */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Ombra migliorata */
  transform: scale(1.05); /* Ingrandimento leggero */
}

.tab-button {
  width: 100%;
  font-size: 16px;
  background-color: var(--color-secondary-200);
  cursor: pointer;
  text-align: center;
  border-radius: 14px 14px 0px 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Stile del bottone attivo (quando selezionato) */
.tab-button.active {
  background-color: var(--color-secondary-300); /* Colore di sfondo per il bottone attivo */
  color: #afabab; /* Colore del testo per il bottone attivo */
}


/* Assicurati che il Container occupi tutta l'altezza disponibile */
.container-full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:end; /* Allinea il contenuto in basso */
}
.nav-button-pointareas{
  display: flex;
  flex-direction: column;
  justify-content:end;
}

.content-panel.disabled {
  pointer-events: none; /* Disabilita tutte le interazioni */
}

.content-panel.disabled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 75px;
  width: 100%;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.6); /* Patina semi-trasparente */
  z-index: 9999; /* Sopra il contenuto */
  pointer-events: none; /* Non interferisce con il puntatore */
}