/* Ensure the html, body, and root elements take up full screen */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Full-screen styling for the map wrapper */
#map-wrapper {
  display: flex; /* Make it a flex container */
  flex-direction: row; /* Align elements in a row (side by side) */
  height: 100%;
  width: 100%;
  /*left: 25px;*/
  overflow: hidden;
}

/* Full-screen styling for the map container */
#map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Style for the calculation box (controls) */
.calculation-box2 {
  position: absolute;
  bottom: 30px; /* Adjust this for vertical spacing */
  right: 10px; /* Adjust this for horizontal spacing */
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000; /* Keep it above the map */
  width: auto; /* Automatically adjust width based on content */
  max-width: 200px; /* Optional: Maximum width to prevent it from getting too wide */
  word-wrap: break-word;
}
/* Keep it above the map */

.marker::after {
  content: '';
  position: absolute;
  bottom: -15px; /* Posiziona la punta sotto l'icona */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--marker-border-color); /* Colore della punta */
}

.double-button-container {
  position: absolute;
  border: 2px solid rgb(209, 206, 206); /* Shared border */
  background-color: white;
  padding: 0px 0px;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Clip corners for a seamless look */
  top: 8px;
  right: 50px;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  width: fit-content;
}

.double-button {
  display: flex;
  flex-grow: 1; /* Allow the buttons to take up equal space */
  background-color: white;
  color: white;
  padding: 3px;
  margin: 0%;
  width: 100%; /* Make the buttons fill the container width */
  border: none;
  cursor: pointer;
  outline: none;
}

.double-button:hover {
  background-color: rgb(209, 206, 206); /* Darker blue on hover */
}

.double-button img {
  width: 24px; /* Keep aspect ratio of the icon */
  height: 22.5px; /* Set icon height */
}

.double-button:nth-child(2) {
  border-top: 1px solid rgb(209, 206, 206); /* Add divider on top of the second button */
}

.mapboxgl-popup-content {
  background-color: white !important;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3) !important;
}

.legend-button {
  position: absolute;
  border: 2px solid rgb(209, 206, 206); /* Shared border */
  background-color: white;
  padding: 0px 0px;
  border-radius: 8px; /* Rounded corners */
  top: 8px;
  right: 90px;
  z-index: 1000;
  width: fit-content;
}

.legend-button img {
  padding: 1.5px;
  width: 28px; /* Keep aspect ratio of the icon */
  height: 28px; /* Set icon height */
}

.legend-container {
  position: absolute;
  background-color: white;
  top: 100px;
  right: 20px;
  width: 200px;
  z-index: 1000;
  border-radius: 8px;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  transform: translateY(-10px);
  opacity: 0;
}

.legend-container.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move back to original position */
  pointer-events: auto; /* Enable interaction when visible */
}

.legend-container img {
  padding: 1.5px;
  width: 28px; /* Keep aspect ratio of the icon */
  height: 28px; /* Set icon height */
}

.side-panel {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 360px;
  height: 80vh;
  padding-top: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 0.3s ease;
  background: var(--color-secondary-100);
  padding-bottom: 0%;
}

.side-panel-content {
  flex: 1;
  padding-left: 30px;
  padding-right: 0px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-panel h3 {
  word-break: break-word;
  white-space: no-wrap;
}

.side-panel p {
  word-break: break-word;
  white-space: no-wrap;
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.reset-view{
  background-color: white;
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.reset-view:hover {
  background-color: lightgray;
}

.map-mode{
  background-color: white;
  position: absolute;
  top: 38px;
  right: 50px;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.map-mode:hover {
  background-color: lightgray;
}

.form-check-input:checked {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
}