/* Ensure the html, body, and root elements take up full screen */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Full-screen styling for the map wrapper */
#map-wrapper {
  display: flex; /* Make it a flex container */
  flex-direction: row; /* Align elements in a row (side by side) */
  height: 100%;
  width: 100%;
  /*left: 25px;*/
  overflow: hidden;
}

/* Full-screen styling for the map container */
#map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Style for the calculation box (controls) */
.calculation-box2 {
  position: absolute;
  bottom: 30px; /* Adjust this for vertical spacing */
  right: 10px; /* Adjust this for horizontal spacing */
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000; /* Keep it above the map */
  width: auto; /* Automatically adjust width based on content */
  max-width: 200px; /* Optional: Maximum width to prevent it from getting too wide */
  word-wrap: break-word;
}
/* Keep it above the map */

.marker::after {
  content: '';
  position: absolute;
  bottom: -15px; /* Posiziona la punta sotto l'icona */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--marker-border-color); /* Colore della punta */
}

.double-button-container {
  position: absolute;
  border: 2px solid rgb(209, 206, 206); /* Shared border */
  background-color: white;
  padding: 0px 0px;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Clip corners for a seamless look */
  top: 8px;
  right: 50px;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  width: fit-content;
}

.double-button {
  display: flex;
  flex-grow: 1; /* Allow the buttons to take up equal space */
  background-color: white;
  color: white;
  padding: 3px;
  margin: 0%;
  width: 100%; /* Make the buttons fill the container width */
  border: none;
  cursor: pointer;
  outline: none;
}

.double-button:hover {
  background-color: rgb(209, 206, 206); /* Darker blue on hover */
}

.double-button img {
  width: 24px; /* Keep aspect ratio of the icon */
  height: 22.5px; /* Set icon height */
}

.double-button:nth-child(2) {
  border-top: 1px solid rgb(209, 206, 206); /* Add divider on top of the second button */
}

.mapboxgl-popup-content {
  background-color: white !important;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3) !important;
}

.legend-button {
  position: absolute;
  border: 2px solid rgb(209, 206, 206); /* Shared border */
  background-color: white;
  padding: 0px 0px;
  border-radius: 8px; /* Rounded corners */
  top: 8px;
  right: 90px;
  z-index: 1000;
  width: fit-content;
}

.legend-button img {
  padding: 1.5px;
  width: 28px; /* Keep aspect ratio of the icon */
  height: 28px; /* Set icon height */
}

.legend-button span {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0px 5px;
}

.legend-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 2px solid rgb(209, 206, 206); /* Shared border */
  background-color: white;
  padding: 0px 0px;
  border-radius: 8px; /* Rounded corners */
  top: 8px;
  right: 125px;
  z-index: 1000;
  width: 40vh;
  height: fit-content;
}

.legend-list {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
  margin: 0; /* Removes any default margins */
  list-style: none;
  height: 100px;
}

.legend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  font-weight: bold;
  text-align: center;
  min-width: 100px;
  padding-bottom: 0; /* Remove any inherited padding */
  height: 100%; /* Make sure it uses full available height */
}

.legend-item img {
  flex-shrink: 0; /* Ensure the image maintains its size */
  margin-bottom: 8px; /* Space between the icon and text */
  margin-top: 8px;
  width: 30px;
  height: 30px;
}

.legend-item span {
  flex: 1; /* Stretch the text to use available space */
  display: flex;
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
}

.scroll-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.scroll-button.left {
  left: -40px;
}

.scroll-button.right {
  right: -40px;
}

.legend-container.visible {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.side-panel {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 360px;
  height: 80vh;
  padding-top: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 0.3s ease;
  background: var(--color-secondary-100);
  padding-bottom: 0%;
}

.side-panel-content {
  flex: 1;
  padding-left: 30px;
  padding-right: 0px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-panel h3 {
  word-break: break-word;
  white-space: no-wrap;
}

.side-panel p {
  word-break: break-word;
  white-space: no-wrap;
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.reset-view {
  background-color: white;
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.reset-view:hover {
  background-color: lightgray;
}

.map-mode {
  background-color: white;
  position: absolute;
  top: 38px;
  right: 50px;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.map-mode:hover {
  background-color: lightgray;
}

.form-check-input:checked {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
}

.marker {
  border: 5px solid rgb(209, 206, 206);
  background-color: #f0f0f0;
  background-size: 100%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 45px;
  right: 20px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 27px;
  cursor: pointer;
  color: white;
}

.document-panel-title {
  color: #000;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.left-sided-panel-title {
  color: #000;
  display: flex;
  justify-content: left;
  font-weight: bold;
  font-size: 30px;
}

.no-documents {
  text-align: center;
  padding: 20px;
  background-color: var(--color-secondary-100);
  color: black;
  border-radius: 15px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 600;
  border: var(--color-secondary-100);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.document-panel {
  position: fixed;
  bottom: 45px;
  right: 20px;
  width: 350px;
  height: 50vh;
  background-color: var(--color-primary-200);
  padding: 20px;
  overflow-y: auto;
  transition: all 0.2s ease;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.documents-list-container {
  flex: 1;
  overflow-y: auto;
  padding: 2px;
}

.documents-list {
  padding: 0;
  margin: 0;
}

.document-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--color-secondary-100);
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.document-item:hover {
  background: rgb(209, 206, 206);
}

.document-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.map-searchbar-container {
  position: absolute;
  top: 8px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000;
  max-width: 300px; 
  width: 100%; 
}

.map-searchbar-container .search-bar {
  width: 100%; 
  border: 1px solid var(--color-secondary-300); 
  border-radius: 10px;
  padding: 8px;  /*3*/
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
}


